<section class="container-fluid clearfix col-collapse">
        <div class="text-center">
            <button class="btn btn-default" ng-click="goimage()">Login</button>
            <button class="btn btn-default" ng-click="goimage2()">Header</button>
            <button class="btn btn-default" ng-click="goimage3()">Body</button>
        </div>
        <div ng-show="visible5" ng-model="design.hello" ta-toolbar="[['insertImage','clear']]" text-angular=""></div>
        <div ng-show="visible6" ng-model="design.hello" ta-toolbar="[['insertImage','clear']]" text-angular=""></div>
        <div ng-show="visible7" ng-model="design.hello" ta-toolbar="[['insertImage','clear']]" text-angular=""></div>
        <button ng-show="visible5" class="btn btn-default" ng-click="">Save Image</button>
        <button ng-show="visible6" class="btn btn-default" ng-click="">Save Image</button>
    </div>
</section>