<section class="container-fluid clearfix col-collapse">
        <div class="text-center">
            <button class="btn btn-default" ng-click="goimage()">Login</button>
            <button class="btn btn-default" ng-click="goimage2()">Header</button>
            <button class="btn btn-default" ng-click="goimage3()">Body</button>
        </div>
        <div ng-show="visible5" ng-model="design.hello" ta-toolbar="[['insertImage','clear']]" text-angular=""></div>
        <div ng-show="visible6" ng-model="design.hello" ta-toolbar="[['insertImage','clear']]" text-angular=""></div>
        <div ng-show="visible7" ng-model="design.hello" ta-toolbar="[['insertImage','clear']]" text-angular=""></div>
        <button ng-show="visible5" class="btn btn-default" ng-click="">Save Image</button>
        <button ng-show="visible6" class="btn btn-default" ng-click="">Save Image</button>
    <button ng-show="visible7" class="btn btn-default" ng-click="">Save Image</button>
    <button ng-show="visible5 || visible6 || visible7" class="btn btn-default pull-right" ng-click="showhtml = !showhtml;">Toggle Generated CSS</button>
    <div class="container-fluid" style="margin: 25px 0;" ng-show="templatefile" ng-bind-html="templatefile"></div>
    <div class="well" ng-show="showhtml">
        <h1>
            Generated CSS
        </h1>
        <p class="alert-info alert text-center">
            File Override
        </p>
        <code style="white-space: pre-wrap;white-space: -moz-pre-wrap !important;  white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;">{{templatefile}}</code>
    </div>
</section>