
<section class="container-fluid clearfix col-collapse">

            <div class="navbar navbar-default navbar-fixed-top" role="navigation">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                      <a href="">HTML + Bootstrap Theme Template Editor</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <button class="btn btn-default" ng-click="goFullscreen()"><i class="fa fa-expand"></i></button>
                    </li>
                </ul>
            </div>

        <div class="row" style="margin-top: 75px;">
            <div class="col-sm-6">
                <p>A live template editor built with <a href="https://angularjs.org/">AngularJS</a>
                <h1>Branding</h1>
                <h2>Select a template</h2>
                <button class="btn btn-default" ng-click="gome()">left column</button>
                <button class="btn btn-default" ng-click="goyou()">right column</button>
                <button class="btn btn-default" ng-click="gous()">3 equal columns</button>
                <br /><br />
                <div ng-repeat="design in designviewdiv">
                <div ng-model="design.hello" ta-toolbar="[['h1','h2','h3','p','bold','italics','ul', 'ol','justifyLeft','justifyCenter','justifyRight','indent','outdent','insertImage','insertLink'],['html','clear']]" text-angular="">
</div>
                </div>

                <div ng-show="visible1" ng-repeat="design in designviewdiv">
                    <label>
                        <!--{{color.name}}-->
                        Left Column Content
                    </label><br />
                    <textarea type="text" ng-model="design.hello"></textarea>
                </div>

                <div ng-show="visible2" ng-repeat="design in designviewdiv">
                    <label>
                        <!--{{color.name}}-->
                        right Column Content
                    </label><br />
                    <textarea type="text" ng-model="design.hello"></textarea>
                </div>
                <div ng-show="visible3" ng-repeat="design in designviewdivus">
                    <div >
                        visible 3 columns
                    </div>
                    <label>
                        <!--{{color.name}}-->
                        Content
                    </label><br />
                    <textarea type="text" ng-model="design.hello"></textarea>
                </div>

            </div>
            <div class="col-sm-6">

                <h1>Generated Preview</h1>
                <span ng-bind-html="templatefile"></span>

            </div>
        </div>
        <hr />

        <div class="row">
            <div class="col-sm-6">
        <h1>Live</h1>
                <div ng-repeat="design in designviewdiv">
                {{design.hello}}
                </div>
            </div>
            <div class="col-sm-6">
                <h1>Generated HTML</h1>
                <div class="well" ng-show="templatefile">
                    <p class="alert-info alert text-center">
                        File Override
                    </p>
                    <code style="white-space: pre-wrap;white-space: -moz-pre-wrap !important;  white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;">{{templatefile}}</code>

                </div>
            </div>
        </div>

</section>