<section class="container-fluid clearfix col-collapse">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <ul class="nav navbar-nav navbar-left">
            <li>
                <a href="https://angularjs.org/">A live HTML template editor built with AngularJS</a></span>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <button class="btn btn-default" ng-click="goFullscreen()"><i class="fa fa-expand"></i></button>
            </li>
        </ul>
    </div>
    <div class="container-fluid" style="margin-top: 75px;">
        <p>
            Plugins: <a href="http://textangular.com/">Text Angular</a> <a href="https://github.com/fabiobiondi/angular-fullscreen">Fullscreen</a>
        </p>
        <h1>
          Theme
        </h1>
        <h2>Edit Home Page</h2>

        <div class="well row">
            <div class="col-sm-3"><a href="#" style="display: block; background-color:#555; padding: 25px; text-align: center; color:#fff;">Select Theme 1 thumbnail</a></div>
            <div class="col-sm-3"><a href="#" style="display: block; background-color:#555; padding: 25px; text-align: center; color:#fff;">Select Theme 2 thumbnail</a></div>
            <div class="col-sm-3"><a href="#" style="display: block; background-color:#555; padding: 25px; text-align: center; color:#fff;">Select 3 thumbnail</a></div>
            <div class="col-sm-3"><a href="#" style="display: block; background-color:#555; padding: 25px; text-align: center; color:#fff;">Select 4 thumbnail</a></div>


        </div>
        <button class="btn btn-default" ng-click="firstpaneisopen=!firstpaneisopen; visible4=false; showhtml=false;">Create New</button>
        <button class="btn btn-default" ng-click="gothem();">Edit Default</button>

        <div ng-show="firstpaneisopen">
        <button class="btn btn-default" ng-click="gome()">1-column</button>
        <button class="btn btn-default" ng-click="goyou()">2-column Theme</button>
        <button class="btn btn-default" ng-click="gous()">3-column Theme</button>
        </div>

        <br />
        <br />
        <div ng-show="visible4">
            <tabset>
                <tab heading="{{design.title}}" ng-repeat="design in designviewdefault">
                    <div ng-model="design.hello" ta-toolbar="[['h1','h2','h3','p','bold','italics','ul', 'ol','insertImage','insertLink','html','clear']]" text-angular=""></div>
                </tab>
            </tabset>
        </div>

        <div ng-show="visible1" ng-repeat="design in designviewdiv">
            <div ng-model="design.hello" ta-toolbar="[['h1','h2','h3','p','bold','italics','ul', 'ol','insertImage','insertLink','html','clear']]" text-angular=""></div>
        </div>

        <div ng-show="visible2">
            <tabset>
                <tab heading="{{design.title}}" ng-repeat="design in designviewdivyou">
                    <div ng-model="design.hello" ta-toolbar="[['h1','h2','h3','p','bold','italics','ul', 'ol','insertImage','insertLink','html','clear']]" text-angular=""></div>
                    <!--<p>Edit the responsive design template width for the {{design.title}}.</p>-->
                    <!--<button class="btn btn-default" ng-click="NextGo(design.class = data[current].class)">+</button>-->
                    <!--<button class="btn btn-default" ng-click="PrevGo{design.class = data[current].class}">-</button>-->
                    <!--- experiment with editable bootstrap--->
                    <!--<div class="container-fluid">-->
                        <!--<div>-->
                            <!--<div ng-class="{{design.class}}">-->
                                <!--&lt;!&ndash;{{design.class}}&ndash;&gt;-->
                                <!--{{data[current].class}}-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                </tab>
            </tabset>
        </div>

        <div ng-show="visible3">
            <tabset>
                <tab heading="{{design.title}}" ng-repeat="design in designviewdivus">
                    <div ng-model="design.hello" ta-toolbar="[['h1','h2','h3','p','bold','italics','ul', 'ol','insertImage','insertLink','html','clear']]" text-angular=""></div>
                </tab>
            </tabset>
        </div>
    </div>

    <div class="container-fluid">
        <button ng-show="visible1" class="btn btn-default" ng-click="gome()">Preview</button>
        <button ng-show="visible2" class="btn btn-default" ng-click="goyou()">Preview</button>
        <button ng-show="visible3" class="btn btn-default" ng-click="gous()">Preview</button>
        <button ng-show="visible4" class="btn btn-default" ng-click="gothem()">Preview default</button>
        <button ng-show="visible1 || visible2 || visible3 || visible4" class="btn btn-default" ng-click="showhtml = !showhtml">Toggle Generated HTML</button>
        <div class="container-fluid" style="margin: 25px 0;" ng-show="templatefile" ng-bind-html="templatefile"></div>
    </div>
    <hr />
    <div class="container-fluid">
        <div class="well" ng-show="showhtml">
            <h1>
                Generated HTML
            </h1>
            <p class="alert-info alert text-center">
                File Override
            </p>
            <code style="white-space: pre-wrap;white-space: -moz-pre-wrap !important;  white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;">{{templatefile}}</code>
        </div>
    </div>
    <h2>Edit Background Image</h2>
    <h3>
        Add background to Login Page:
    </h3>
    <h3>
        Add background to Body:
    </h3>
    <h3>
        Add background to Branded area (Jumbotron):
    </h3>
</section>