
<section class="container-fluid clearfix col-collapse">

            <div class="navbar navbar-default navbar-fixed-top" role="navigation">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a href="https://angularjs.org/">A live template editor built with AngularJS</a></span>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <button class="btn btn-default" ng-click="goFullscreen()"><i class="fa fa-expand"></i></button>
                    </li>
                </ul>
            </div>

        <div class="container-fluid" style="margin-top: 75px;">
            <div class="col-sm-6">

                <h1>Branded Content</h1>
                <h2>Select a Responsive template</h2>
                <button class="btn btn-default" ng-click="gome()">Create New</button>
                <button class="btn btn-default" ng-click="goyou()">2-columns</button>
                <button class="btn btn-default" ng-click="gous()">3-columns</button>
                <br /><br />
                <div ng-show="visible1" ng-repeat="design in designviewdiv">
                <div ng-model="design.hello" ta-toolbar="[['h1','h2','h3','p','bold','italics','ul', 'ol','justifyLeft','justifyCenter','justifyRight','insertImage','insertLink'],['html','clear']]" text-angular="">
</div>
                </div>


                <div ng-show="visible2"  ng-repeat="design in designviewdivyou">
                    <div ng-model="design.hello" ta-toolbar="[['h1','h2','h3','p','bold','italics','ul', 'ol','justifyLeft','justifyCenter','justifyRight','insertImage','insertLink'],['html','clear']]" text-angular="">
                    </div>
                </div>


                <div ng-show="visible3" ng-repeat="design in designviewdivus">
                    <div ng-model="design.hello" ta-toolbar="[['h1','h2','h3','p','bold','italics','ul', 'ol','justifyLeft','justifyCenter','justifyRight','insertImage','insertLink'],['html','clear']]" text-angular="">
                    </div>
                </div>







            </div>
            <div class="col-sm-6">

                <button ng-show="visible1" class="btn btn-default" ng-click="gome()">Preview</button>
                <button ng-show="visible2" class="btn btn-default" ng-click="goyou()">Preview</button>
                <button ng-show="visible3" class="btn btn-default" ng-click="gous()">Preview</button>
                <hr />
                <span ng-bind-html="templatefile"></span>

            </div>
        </div>
        <hr />



            <div class="container-fluid">
                <h1>Generated HTML</h1>
                <div class="well" ng-show="templatefile">
                    <p class="alert-info alert text-center">
                        File Override
                    </p>
                    <code style="white-space: pre-wrap;white-space: -moz-pre-wrap !important;  white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;">{{templatefile}}</code>

                </div>
            </div>


</section>