<section class="container-fluid clearfix col-collapse slideUp">
    <div class="container-fluid" style="margin-top: 75px;">

        <div class="container-fluid">
            <div class="row well text-center">
                <div class="col-sm-2"> <button class="btn btn-default " style="background-color:#555; width: 100%; min-height: 100px;text-align: center; color:#fff;" ng-click="gothem();">Edit <br />Default</button></div>
                <div class="col-sm-2"><button class="btn btn-default" style="display: block; background-color:#555; width: 100%; min-height: 100px;text-align: center; color:#fff;">Thumbnail</button></div>
                <div class="col-sm-2"><button class="btn btn-default" style="display: block; background-color:#555; width: 100%; min-height: 100px; text-align: center; color:#fff;">Thumbnail</button></div>
                <div class="col-sm-2"><button class="btn btn-default" style="display: block; background-color:#555; width: 100%; min-height: 100px; text-align: center; color:#fff;">Thumbnail</button></div>
                <div class="col-sm-2 col-sm-offset-2"> <button class="btn btn-default" style="background-color:#555; width: 100%; min-height: 100px;  text-align: center; color:#fff;" ng-click="firstpaneisopen=!firstpaneisopen; goclear(); showhtml=false;"><i class="fa fa-plus fa-2x"></i></button></div>

            </div>
           <div ng-show="firstpaneisopen">
                <button class="btn btn-default" ng-click="gome()">1-column</button>
                <button class="btn btn-default" ng-click="goyou()">2-column Theme</button>
                <button class="btn btn-default" ng-click="gous()">3-column Theme</button>
            </div>

        </div>
        <br />
        <br />
        <div ng-show="visible4">
            <div ng-repeat="design in designviewdefault">
                <div ng-model="design.hello" ta-toolbar="[['h1','h2','h3','p','bold','italics','ul', 'ol','insertImage','insertLink','html','clear']]" text-angular=""></div>
            </div>
        </div>

        <div ng-show="visible1" ng-repeat="design in designviewdiv">
            <div ng-model="design.hello" ta-toolbar="[['h1','h2','h3','p','bold','italics','ul', 'ol','insertImage','insertLink','html','clear']]" text-angular=""></div>
        </div>
        <div ng-show="visible2">
            <tabset>
                <tab heading="{{design.title}}" ng-repeat="design in designviewdivyou">
                    <div ng-model="design.hello" ta-toolbar="[['h1','h2','h3','p','bold','italics','ul', 'ol','insertImage','insertLink','html','clear']]" text-angular=""></div>
                    <!--<p>Edit the responsive design template width for the {{design.title}}.</p>-->
                    <!--<button class="btn btn-default" ng-click="NextGo(design.class = data[current].class)">+</button>-->
                    <!--<button class="btn btn-default" ng-click="PrevGo{design.class = data[current].class}">-</button>-->
                    <!--- experiment with editable bootstrap--->
                    <!--<div class="container-fluid">-->
                    <!--<div>-->
                    <!--<div ng-class="{{design.class}}">-->
                    <!--&lt;!&ndash;{{design.class}}&ndash;&gt;-->
                    <!--{{data[current].class}}-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                </tab>
            </tabset>
        </div>
        <div ng-show="visible3">
            <tabset>
                <tab heading="{{design.title}}" ng-repeat="design in designviewdivus">
                    <div ng-model="design.hello" ta-toolbar="[['h1','h2','h3','p','bold','italics','ul', 'ol','insertImage','insertLink','html','clear']]" text-angular=""></div>
                </tab>
            </tabset>
        </div>
    </div>
    <div class="container-fluid">
        <button ng-show="visible1" class="btn btn-default" ng-click="gome(); open();">Preview</button>
        <button ng-show="visible2" class="btn btn-default" ng-click="goyou(); open();">Preview</button>
        <button ng-show="visible3" class="btn btn-default" ng-click="gous(); open();">Preview</button>
        <button ng-show="visible4" class="btn btn-default" ng-click="gothem(); open();">Preview</button>
        <button ng-show="visible1 || visible2 || visible3 || visible4" class="btn btn-default" ng-click="gothem()">Save</button>
        <button ng-show="visible1 || visible2 || visible3 || visible4" class="btn btn-default pull-right" ng-click="showhtml = !showhtml;">Toggle Generated HTML</button>


<!--- http://fdietz.github.io/recipes-with-angular-js/common-user-interface-patterns/displaying-a-modal-dialog.html --->
        <div modal="showModal" close="cancel()">
            <!--<div class="modal-header">-->
                <!--<h4>Modal Dialog</h4>-->
            <!--</div>-->
            <div class="modal-body">
                <div class="container-fluid" style="margin: 25px 0;" ng-show="templatefile" ng-bind-html="templatefile"></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" ng-click="ok()">Okay</button>
                <button class="btn" ng-click="cancel()">Cancel</button>
            </div>
        </div>
        <div class="well" ng-show="showhtml">
            <h1>
                Generated HTML
            </h1>
            <p class="alert-info alert text-center">
                File Override
            </p>
            <code style="white-space: pre-wrap;white-space: -moz-pre-wrap !important;  white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;">{{templatefile}}</code>
        </div>
    </div>
</section>