
<section class="container-fluid clearfix col-collapse">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <ul class="nav navbar-nav navbar-left">
            <li>
                <a href="https://angularjs.org/">A live HTML template editor built with AngularJS</a></span>
            </li>
            <li>
                Plugins: <a href="http://textangular.com/">Text Angular</a> <a href="https://github.com/fabiobiondi/angular-fullscreen">Fullscreen</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <button class="btn btn-default" ng-click="goFullscreen()"><i class="fa fa-expand"></i></button>
            </li>
        </ul>
    </div>

    <div style="max-width: 768px; margin: 75px auto 0;">

            <div class="text-center">
                <h1>
                    Theme Editor
                </h1>
                <button class="btn btn-default" ng-click="goimage()">Login Background</button>
                <button class="btn btn-default" ng-click="goimage()">Body Background</button>
                <br />
                <br />
                <div class="well row text-center">
                    <div class="col-sm-2"><a style="display: block; background-color:#555; padding: 25px; text-align: center; color:#fff;" ng-click="gothem();">Default Header</a></div>
                    <div class="col-sm-2"><a style="display: block; background-color:#555; padding: 25px; text-align: center; color:#fff;">Header 1</a></div>
                    <div class="col-sm-2"><a style="display: block; background-color:#555; padding: 25px; text-align: center; color:#fff;">Header 2</a></div>
                    <div class="col-sm-2"><a style="display: block; background-color:#555; padding: 25px; text-align: center; color:#fff;">Header 3</a></div>
                    <div class="col-sm-2 col-sm-offset-2"><a style="display: block; background-color:#5cb85c; padding: 25px; text-align: center; color:#fff;" ng-click="firstpaneisopen=!firstpaneisopen; goclear(); showhtml=false;">New Header</a></div>
                </div>



                <div ng-show="firstpaneisopen">
                    <button class="btn btn-default" ng-click="gome()">1-column</button>
                    <button class="btn btn-default" ng-click="goyou()">2-column</button>
                    <button class="btn btn-default" ng-click="gous()">3-column</button>
                </div>
            </div>

            <div ng-show="visible4">
                <button class="btn btn-default" ng-click="goimage()">Header Background</button>
                <div ng-repeat="design in designviewdefault">
                    <div ng-model="design.hello" ta-toolbar="[['h1','h2','h3','p','bold','italics','ul', 'ol','insertImage','insertLink','html','clear']]" text-angular=""></div>
                </div>
            </div>
            <div ng-show="visible1" ng-repeat="design in designviewdiv">
                <div ng-model="design.hello" ta-toolbar="[['h1','h2','h3','p','bold','italics','ul', 'ol','insertImage','insertLink','html','clear']]" text-angular=""></div>
            </div>
            <div ng-show="visible2">
                <tabset>
                    <tab heading="{{design.title}}" ng-repeat="design in designviewdivyou">
                        <div ng-model="design.hello" ta-toolbar="[['h1','h2','h3','p','bold','italics','ul', 'ol','insertImage','insertLink','html','clear']]" text-angular=""></div>

                    </tab>
                </tabset>
            </div>
            <div ng-show="visible3">
                <tabset>
                    <tab heading="{{design.title}}" ng-repeat="design in designviewdivus">
                        <div ng-model="design.hello" ta-toolbar="[['h1','h2','h3','p','bold','italics','ul', 'ol','insertImage','insertLink','html','clear']]" text-angular=""></div>
                    </tab>
                </tabset>
            </div>


            <button ng-show="visible1" class="btn btn-default" ng-click="gome(); open();">Preview</button>
            <button ng-show="visible2" class="btn btn-default" ng-click="goyou(); open();">Preview</button>
            <button ng-show="visible3" class="btn btn-default" ng-click="gous(); open();">Preview</button>
            <button ng-show="visible4" class="btn btn-default" ng-click="gothem(); open();">Preview</button>
            <button ng-show="visible1 || visible2 || visible3 || visible4" class="btn btn-success" ng-click="gothem()">Save Header</button>
            <!--- http://fdietz.github.io/recipes-with-angular-js/common-user-interface-patterns/displaying-a-modal-dialog.html --->
            <div modal="showModal" close="cancel()">
                <!--<div class="modal-header">-->
                <!--<h4>Modal Dialog</h4>-->
                <!--</div>-->
                <div class="modal-body" style="max-width: 768px; margin: 25px auto 0;">
                    <div class="container-fluid" style="margin: 25px 0;" ng-show="templatefile" ng-bind-html="templatefile"></div>
                </div>
                <div class="modal-footer" style="max-width: 768px; margin: 0 auto;">
                    <button class="btn btn-success" ng-click="ok()">Okay</button>
                    <button class="btn" ng-click="cancel()">Cancel</button>
                </div>
            </div>


            <div ng-show="visible5" ng-model="design.hello" ta-toolbar="[['insertImage','clear']]" text-angular=""></div>
            <div ng-show="visible6" ng-model="design.hello" ta-toolbar="[['insertImage','clear']]" text-angular=""></div>
            <div ng-show="visible7" ng-model="design.hello" ta-toolbar="[['insertImage','clear']]" text-angular=""></div>
            <button ng-show="visible5" class="btn btn-success" ng-click="">Save Background</button>
            <button ng-show="visible6" class="btn btn-success" ng-click="">Save Background</button>
            <button ng-show="visible7" class="btn btn-success" ng-click="">Save Background</button>
            <button class="btn btn-primary pull-right" ng-click="showhtml = !showhtml;">Toggle Generated HTML/CSS</button>


            <!--<button ng-show="visible5 || visible6 || visible7" class="btn btn-primary pull-right" ng-click="showhtml = !showhtml;">Toggle Generated CSS</button>-->
            <div class="well" ng-show="showhtml">
                <h1>
                    Generated HTML
                </h1>
                <p class="alert-info alert text-center">
                    File Override
                </p>
                <code style="white-space: pre-wrap;white-space: -moz-pre-wrap !important;  white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;">{{templatefile}}</code>
            </div>
            <div class="well" ng-show="showhtml">
                <h1>
                    Generated CSS
                </h1>
                <p class="alert-info alert text-center">
                    File Override
                </p>
                <code style="white-space: pre-wrap;white-space: -moz-pre-wrap !important;  white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;">{{templatefile}}</code>

    </div>
</section>